@use '../../scss/fonts' as f;
@use '../../scss/colors' as clr;

$border_color: hsl(0, 0%, 67%);
$bg_color: hsl(0, 0%, 97%);
$readOnly_color: hsl(0, 0%, 86%);
$alternate_color: hsl(0, 0%, 94%);
$width: 27rem;

@mixin md {
  @media (min-width: 500px) {
    @content;
  }
}

.sudoku-board {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  width: $width;
  max-height: $width;
  aspect-ratio: 1;
  // margin: 5rem auto;
  position: relative;

  .row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    position: relative;

    .cell {
      font-family: f.$cell-font;
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 7vw;
      place-content: center;
      width: 100%;
      text-align: center;
      color: #222;
      background-color: $bg_color;
      font-weight: 500;
      position: relative;

      &:not(.readOnly) {
        cursor: pointer;
      }

      &.readOnly {
        background-color: $readOnly_color;
        font-style: italic;
        font-weight: 800;
      }

      &:focus {
        outline: none;
      }

      &.selected {
        background-color: clr.$main-lighter  !important;
      }

      .pencilMark {
        font-size: 1rem;
        display: block;
        margin-top: .8rem;
      }

      &:nth-child(3n):not(:last-child) {
        border-right: 2px solid $border_color;
        z-index: 99
      }

      @include md {
        font-size: 2rem
      }
    }

    &:nth-child(3n):not(:last-child) {
      .cell {
        border-bottom: 2px solid $border_color;
        z-index: 99;

        &:nth-child(3n):not(:last-child) {
          z-index: 999
        }
      }
    }

    .incorrect {
      color: red;
      background-color: hsl(0 70% 70%);
    }

    &:nth-child(2n) {
      .cell:nth-child(2n):not(.readOnly) {
        background-color: $alternate_color;
      }
    }

    &:nth-child(2n + 1) {
      .cell:nth-child(2n + 1):not(.readOnly) {
        background-color: $alternate_color;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}