@use "../../scss/colors" as clr;
@use "../../scss/fonts" as f;

.timer {
  color: clr.$text;
  font-family: f.$cell-font;
  font-style: italic;
  font-weight: regular;
  letter-spacing: 0.1ch;

  &.dark {
    color: clr.$bg-dark;
  }
}
