@forward "scss";
@use "./scss/colors" as clr;
@use "./scss/fonts" as f;


.App {
  text-align: center;
}

.btn {
  font-family: f.$text-font;
  font-weight: bold;
  font-size: 1.25rem;
  font-style: normal;
  border: none;

  &.main {
    color: clr.$bg-dark;
    background-color: clr.$main-light;
    padding: .35rem 1rem;
  }

  &.alt {
    color: clr.$main-light;
    background-color: transparent;
    padding: 0;
  }
}